<%-include('./partials/header')%>
<main>
    <h1>Cuentas corriente MAZAL</h1>
    <ul>
      <a href="/add"><li>Agregar nueva transacción</li> </a>
      <a href="/filter"><li>Buscar cuenta de cliente</li> </a>
    </ul>

  </main>
  <%-include('./partials/footer')%>