body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.size-input{
  width: 100%;
}

@media (min-width: 768px) {
  .size-input{
    width: 25%;
  } 
}